@import "bootstrap-sprockets";
@import "bootstrap";

table {
  border: 1px solid #000;

  td, th {
    border: 1px solid #000;
    text-align: center;
    padding: .5rem;
  }
}

.navbar-right li {
  padding-right: 10px;
}
