@import "bootstrap-sprockets";
@import "bootstrap";

table {
  border: 1px solid #000;

  td, th {
    border: 1px solid #000;
    text-align: center;
    padding: .5rem;
  }
}

.navbar {
  background-color: #0071BC;
  border-radius: 0;
  padding: 0;
  .navbar-nav li a {
    color: #FFF;
  }
}

.navbar-right li {
  padding-right: 10px;
}

li {
  list-style-type: none;
}
